<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ドライブ動画のシーンを抽出して短い動画に自動編集できます。">
    <meta name="keywords" content="ドライブ,動画,編集,自動,シーン抽出,Webアプリ">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sample.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" />
    <title>Driving Movie</title>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>