{% extends "./base.html" %}
{% block title %}Driving Movie{% endblock %}

{% block content %}
<!-- [FC2 Analyzer] //analyzer.fc2.com/  -->
<script language="javascript" src="//analyzer54.fc2.com/ana/processor.php?uid=2897827" type="text/javascript"></script>
<noscript>
    <div align="right"><img src="//analyzer54.fc2.com/ana/icon.php?uid=2897827&ref=&href=&wid=0&hei=0&col=0" /></div>
</noscript>
<!-- [FC2 Analyzer]  -->

<div class="container">
    <h1>Finished</h1>
    <form method="POST">
        <input type="submit" value="Download" class="btn btn-primary">
    </form>
</div>
{% endblock %}